<!doctype html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>{% block title %}{% endblock %}Social</title>
    {% endblock %}
</head>
<body>
    {% from 'bootstrap5/nav.html' import render_nav_item %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
        <h1>Social</h1>
            {% if g.user %}
                <span>{{ g.user['email'] }}</span>
                {{ render_nav_item('auth.logout', 'Logout') }}
            {% else %}
                {{ render_nav_item('auth.register', 'Register') }}
                {{ render_nav_item('auth.login', 'Log In') }}
            {% endif %}
        </div>
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
    {% block scripts %}
        {{ bootstrap.load_js() }}
    {% endblock %}
</body>